<section class="about" id="about-us">
  <div class="container about-container">
    <h2 class="about-title">About Us</h2>
    <p class="about-text">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>

    <div class="about-content">
      <ol class="about-list">
        <li class="about-item">
          <p class="about-benefit">Expert, innovative teaching staff</p>
        </li>
        <li class="about-item">
          <p class="about-benefit">Wide range of course levels and options</p>
        </li>
        <li class="about-item">
          <p class="about-benefit">Multicultural learning environment</p>
        </li>
        <li class="about-item">
          <p class="about-benefit">Comprehensive language support services</p>
        </li>
      </ol>

      <div class="about-picture-box">
        <img
          class="about-picture"
          src="./images/about-girl.png"
          srcset="./images/about-girl.png 1x, ./images/about-girl@2x.png 2x"
          alt="Girl showing one finger"
          width="254"
          height="173"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
