<header class="header">
  <div class="container header-container">
    <a class="logo" href="index.html"
      >english<span class="logo-part">excellence</span>.</a
    >
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#about-us" class="nav-link">About us</a>
        </li>
        <li class="nav-item">
          <a href="#lessons" class="nav-link">Our lessons</a>
        </li>
        <li class="nav-item">
          <a href="#teachers" class="nav-link">Teachers</a>
        </li>
        <li class="nav-item">
          <a href="#reviews" class="nav-link">Reviews</a>
        </li>
        <li class="nav-item">
          <a href="#contact-us" class="nav-link">Contact us</a>
        </li>
      </ul>
    </nav>

    <ul class="social-list">
      <li class="social-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="social-link"
          aria-label="facebook"
        >
          <svg class="social-icon" width="28" height="28">
            <use href="../images/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="social-link"
          aria-label="instagram"
        >
          <svg class="social-icon" width="28" height="28">
            <use href="../images/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="social-link"
          aria-label="youtube"
        >
          <svg class="social-icon" width="28" height="28">
            <use href="../images/icons.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button class="burger" aria-label="open-menu" id="mobile-menu-open">
      <svg class="burger-icon">
        <use href="../images/icons.svg#burger"></use>
      </svg>
    </button>
  </div>
</header>
