<div class="overlay">
  <div class="mobile-menu">
    <div class="mobile-menu-container">
      <button class="mobile-menu-close" aria-label="close-menu">
        <svg class="mobile-menu-close-icon">
          <use href="./images/icons.svg#close"></use>
        </svg>
      </button>

      <ul class="mobile-menu-list">
        <li class="mobile-menu-item">
          <a href="#about-us" class="mobile-menu-link">About us</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#lessons" class="mobile-menu-link">Our lessons</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#teachers" class="mobile-menu-link">Teachers</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#reviews" class="mobile-menu-link">Reviews</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#contact-us" class="mobile-menu-link">Contact us</a>
        </li>
      </ul>

      <div class="mobile-socials">
        <ul class="mobile-social-list">
          <li class="mobile-social-item">
            <a
              href="https://www.facebook.com/goITclub/"
              class="mobile-social-link"
              aria-label="facebook"
              target="_blank"
            >
              <svg class="mobile-social-icon" width="28" height="28">
                <use href="./images/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-social-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="mobile-social-link"
              aria-label="instagram"
              target="_blank"
            >
              <svg class="mobile-social-icon" width="28" height="28">
                <use href="./images/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-social-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="mobile-social-link"
              aria-label="youtube"
              target="_blank"
            >
              <svg class="mobile-social-icon" width="28" height="28">
                <use href="./images/icons.svg#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
